.country{
    border: 2px solid black;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.btn-1{
    background-color: blue;
    color: white;
}
img{
    height: 30vh;
    width: 20vw;
}
